body{
    margin: 0;
    background-color: rgb(142, 227, 255);
    margin: 0;
    padding: 0;
    height: 100vh;
}
#headerBackGround{
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: dodgerblue;
}
#mainTitle{
    text-align: center;
    font-size: 2em;
    color: white;
    margin-top: 20px;

}
#extensionsList{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
#extensionsBox{
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    width: 300px;
    height: 250px;
    border-radius: 2.5%;
    animation: boxSize 0.5s 
    
}

@keyframes boxSize {
    0% {
		transform: scale(0); /* 从完全不可见的小尺寸开始 */
	}

	16% {
		transform: scale(0.32); /* 稍微放大 */
	}

	28% {
		transform: scale(0.87); /* 继续放大 */
	}

	44% {
		transform: scale(1.05); /* 接近正常大小 */
	}

	59% {
		transform: scale(0.98); /* 稍微回弹 */
	}

	73% {
		transform: scale(1.01); /* 再次微调 */
	}

	88% {
		transform: scale(0.99); /* 最后调整 */
	}

	100% {
		transform: scale(1); /* 最终达到正常大小 */
	}
}